<div id="footer_div">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <h4>고객센터 이용안내</h4>
      <h2>02<span>-711-</span>9567</h2>
      <p class="gray">운영시간 09:30 ~ 18:00</p>
      <p class="gray">점심시간 12:00 ~ 13:00</p>
      <p class="gray">*토, 일, 공휴일 휴무</p>
      <p class="gray">hello@cosmetic0901.com</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>회사정보</h4>
      <p><span class="gray">회사명</span> 금수 <span class="gray">대표</span> 이상민</p>
      <p><span class="gray">사업자 등록번호</span> 187<span>-10-</span>00306</p>
      <p><span class="gray">주소</span> 서울 관악구 관악로 1, 서울대 연구공원 본관 #327</p>

    </div>
  </div>
</div>