<ul class="fa-ul">
  <li>
    <a href="/category/about-cosmetic0901/">
      <i class="fa fa-tree fa-li" aria-hidden="true"></i> About - 화장품연구공원?
    </a>
  </li>
  <li>
    <a href="/category/beauty-tip/">
      <i class="fa fa-info-circle fa-li" aria-hidden="true"></i> Beauty - 팁
    </a>
  </li>
  <li>
    <a href="/category/brazil-scrub/">
      <i class="fa fa-flask fa-li" aria-hidden="true"></i> Brand - 브라질스크럽
    </a>
  </li>
  <li>
    <a href="/category/livesque/">
      <i class="fa fa-flask fa-li" aria-hidden="true"></i> Brand - 리베스크
    </a>
  </li>
  <li>
    <a href="/category/to-be-continued/">
      <i class="fa fa-flask fa-li" aria-hidden="true"></i> Brand - to be continued
    </a>
  </li>
  <li>
    <a href="/category/chance/">
      <i class="fa fa-gift fa-li" aria-hidden="true"></i> Chance - 샘플 & 이벤트
    </a>
  </li>
  <li>
    <a href="/category/developer/">
      <i class="fa fa-code fa-li" aria-hidden="true"></i> Development - Server
    </a>
  </li>
</ul>